
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
      margin: 0;
      min-height: 100vh;
      background-color: rgb(255, 255, 255); /* corrigido */
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100vw;
      height: 100vh;
    }

    .box1 {
      background-color:rgb(137, 191, 214);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45vw;
      height: 100vh;
    }

    .box2 {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
       
    }

    .box3 {
      background-color: rgb(217, 235, 243);
      width: 350px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
      border-radius: 2px;

      position: absolute;
      top: 50%;
      left: 40%; /* Ajuste para centralizar mais à esquerda */
      transform: translate(-50%, -50%);
    }
    #titulo{
      font-size: 120%;
      position: absolute;
      top: 6%;
      left: 18%; 
      border-radius: 100%;
    }
    #nome{
        margin: 0px;
        width: 260px;
        height: 35px;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 0px solid  white;
        position: absolute;
        top: 21%;
        margin-bottom: 10px;
        margin-left: 39px;
        margin-top: 10px;
        
    }
    #email{
        margin: 0px;
        width: 260px;
        height: 35px;
        border-radius: 10px;
        border: 0px solid  white;

        margin-bottom: 10px;
        margin-left: 39px;
        margin-top: 65px;

        }
    #objetivo{
        margin: 0px;
        width: 260px;
        height: 35px;
        border-radius: 10px;
        border: 0px solid  white;
        margin-bottom: 10px;
        margin-left: 39px;
        margin-top: 10px;


    }
    #menssagem{
        margin: 0px ;
        border-radius: 10px;
        border: 0px solid  white;
        margin-bottom: 10px;
        margin-left: 39px;
        margin-top: 10px;

    }
    #enviar{
        background-color: rgb(195, 229, 244);
        width: 100px;
        height: 35px;
        border-radius: 10px;
        border: 0px solid  white;
        position: absolute;
        top: 87%;
        left: 58%; 
    }
    #enviar:hover{
        background-color:  rgb(155, 205, 226);
    }
    #voltar{
      position: absolute;
      top: 87%;
      left: 12%;
      width: 100px;
      height: 35px;
      background-color:   rgb(195, 229, 244);
      border: 0px solid  white;
      border-radius: 10px;
     

    }
    #voltar:hover{
      background-color:  rgb(155, 205, 226);
    }

